body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	background-color: silver;
}

h1 { 
	font-family: Verdana, Geneva, sans-serif;
	font-size: 50px;
	text-align: center;
	color : #A52A2A;
}

h2 { 
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
	text-align: center;
}

.link {
	text-align: center;
	font-weight: bold;
}


.cours { 
	text-align : center;
	margin-left: auto;
	margin-right: auto;
}

.tcours {
	margin-left: auto;
	margin-right: auto;
}